@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Lato";
    src: url("../../public/Fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Prompt";
    src: url("../../public/Fonts/Prompt/Prompt-SemiBold.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../../public/Fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}

@font-face {
    font-family: "Adlery Pro";
    src: url("../../public/Fonts/Adlery Pro/adlery-pro.regular.ttf");
}

@font-face {
    font-family: "Playfair";
    src: url("../../public/Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply min-h-screen text-black;
    font-family: "Lato";
    background-image: linear-gradient(
        50deg,
        rgb(250, 214, 214),
        rgb(249, 238, 220),
        rgb(252, 252, 226),
        rgb(227, 251, 227),
        rgb(223, 223, 249),
        rgb(238, 223, 248),
        rgb(251, 231, 251)
    );
}
h1 {
    @apply text-2xl font-bold max-w-2xl tracking-tight sm:text-6xl;
    font-family: "Playfair";
    color: #13292a;
}
h2 {
    @apply text-xl font-bold my-4;
}
h3 {
    @apply text-lg font-bold my-4;
}
ul {
    @apply my-10;
}
p {
    @apply my-2;
}

table {
    width: 100%;
    border: 2px solid;
}

th {
    border-bottom: 2px solid;
    border-right: 2px solid;
}

td {
    border-right: 2px solid;
    border-bottom: 2px solid;
}

th,
td {
    padding: 15px;
    text-align: left;
}

.col_span_2 {
    border-right: none;
    border-bottom: 2px solid;
    colspan: 2;
}

/* banner */
/* .banner {
    @apply top-0 left-0 right-0 fixed;
} */

/* nav {
    @apply flex justify-center items-center gap-10 max-w-screen-lg mx-auto text-2xl mt-20;
} */

h1 {
    @apply mr-auto;
}

/* logo */

/* form elements */
form {
    @apply max-w-screen-md;
}
input,
select,
textarea {
    @apply block w-full mt-2 mb-4 p-2 text-black;
}

/* custom classes */
.container {
    @apply max-w-screen-2xl mx-auto px-12;
}

.header {
    position: relative;
    height: 70vh;
    top: 0;
    right: 0;
    left: 0;
}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navigation-container {
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.navigation-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 1px;
}

.navbar {
    @apply container flex justify-between items-center text-2xl text-white;
    transition: 0.3s ease-in;
}

.left-navbar {
    @apply container flex justify-between items-center text-2xl text-[#13292a] transition;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.slider {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }

.slider .images {
    display: flex;
    transition: transform 0.5s ease;
  }

.slider img {
    width: 100%;
    flex-shrink: 0;
  }

.card {
    @apply text-white rounded px-3 py-3 my-2 flex;
    /* background-image: linear-gradient(to right, black, gray); */
}

.section-heading {
    @apply font-extrabold text-4xl text-center mb-10;
    color: #13292a;
}

.btn {
    @apply rounded px-3 py-2  bg-[#13292a] text-white;
}

.btn:hover {
    @apply bg-[#3d6571] cursor-pointer;
}

.nav-active {
    @apply font-bold;
    color: #13292a;
}

.collection-item {
    font-family: "Quicksand";
    font-size: xx-large;
    padding: 2rem;
}

.collection-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.slogan {
    @apply text-2xl;
    color: #13292a;
    letter-spacing: 30px;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background-color: #092933;
    color: #ffffff;
}
